.alert:empty {
  display: none;
}

.alert {
  color: #000;
  position: relative;
  padding: 12px 16px !important;
  background: transparent;
  border-radius: 4px;
  border: none !important;
}

.alert .alert {
  color: inherit;
}

.alert .alert::before {
  content: none;
}

.alert a {
  color: inherit !important;
  font-weight: bold;
}

.alert::before {
  background-color: currentColor;
  border-radius: inherit;
  bottom: 0;
  content: "";
  left: 0;
  opacity: .12;
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 0;
}

.alert--state {
  color: var(--info);
  text-align: center;
}

.alert--policy {
  color: var(--warning);
}

.alert--warning {
  color: var(--warning);
}

.alert--policy a:last-of-type {
  float: right;
}