@use 'reset';

@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap';

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Roboto' sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

br {
  display: none;
}

body {
  --primary: #1867c0;
  --warning: #fb8c00;
  --info: #2196f3;

  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header, #booth #main {
  border: thin solid rgba(0,0,0,.12);

  width: 100%;
  max-width: 790px;
  margin: 0 auto;

  overflow: hidden;
}

#header {
  margin-top: auto;
  color: black;

  border-bottom: none;
  border-top-right-radius:4px;
  border-top-left-radius: 4px;
}

#main {
  border-top: none !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0;
  margin-bottom: 16px;
}

#wrapper, #booth_div {
  margin: 0 auto;
  min-height: 100vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  width: 100%;
}

#footer {
  box-sizing: border-box;
  padding: 16px;
  margin-top: auto;
  background-color: #f5f5f5;
}
#footer * {
  color: rgba(0, 0, 0, 0.6) !important;
  line-height: 22px;
  font-size: 14px;
  letter-spacing: 0.1px;

  a {
    color: var(--primary) !important;
  }
}

#bottom > div > div > div:first-of-type {
  margin-bottom: 4px;
}
#bottom > div > div > div:nth-of-type(2) {
  margin-bottom: 16px;
} 

#main > div:nth-child(2) > div:nth-child(1) a:last-of-type {
  float: right;
}

a {
  text-decoration: none;
}

/* logos */
#header > div:nth-child(1) > img:nth-child(1),
#header > div:nth-child(2) > img:nth-child(1),
#header > div:nth-child(1) > div:nth-child(1) > a:nth-child(1) > img:nth-child(1),
#header > div:nth-child(1) > div:nth-child(2) > img:nth-child(1) {
  margin: 22px;
}

#header h1 {
  padding: 32px !important;
  font-weight: 500;
}

/* Language box */
.lang_box {
  padding: 16px 32px !important;
}

.current_step {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

b {
  font-weight: bold;
}

a {
  color: var(--primary);
}

h1 {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  font-size: 2.125rem !important;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.0073529412em !important;
  font-family: "Roboto", sans-serif !important;
}