.progress {
  margin: 32px 0;

  hr {
    display: none;
  }
}

.progress {
  margin: 32px;
  margin-bottom: 48px !important;
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  span {
    position: relative;

    font-size: 12px;
    display: inline-block;
    transform: translateY(32px);

    &::before {
      content: '';
      line-height: 32px;
      display: inline-block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #bdbdbd;;
      color: white;
      position: absolute;

      top: calc(50% - 48px);
      left: calc(50% - 16px);
    }

    &::after {
      content: '';
      width: 300%;
      border-bottom: solid 1px #d8d8d8;
      position: absolute;
      top: calc(50% - 32px);
      z-index: -1;
    }

    &:first-of-type::after {
      left: 50%;
    }
    &:last-of-type::after {
      content: '';
      border-bottom: solid 1px white;
    }
  }

  #progress1::before {
    content: '1';
  }
  #progress2::before {
    content: '2';
  }
  #progress3::before {
    content: '3';
  }
  #progress4::before {
    content: '4';
  }
  #progress5::before {
    content: '5';
  }
  #progress6::before {
    content: '6';
  }

  span.current::before, span.done::before {
    background-color: #1976d2;
  }

  span.done::before {
    content: '\2713' !important;
    font-size: 24px;
  }
}