.textfield.textfield--outlined {
  display: inline-block;
  box-sizing: border-box;
  height: 56px;
  padding: 0 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: border 150ms;
  font-size: 14px;
  caret-color: #1976d2;
  min-width: 242px;
}
.textfield.textfield--outlined:hover {
  border: 1px solid rgba(0, 0, 0, 0.85);
}
.textfield.textfield--outlined:focus {
  outline: none;
  border: 2px solid #1976d2;
}