@use 'common';
@use 'progress';
@use 'alert';
@use 'matter';
@use 'textfield';

#question_div {
  h2 {
    font-size: 1rem;
    font-weight: bold;
    margin: 16px 0;
  }

  > div:nth-of-type(2) {
    padding: 16px;
  }

  .answer_div div {
    margin: 16px 0;

    input {
      margin-right: 16px;
    }
    br {
      display: none;
    }
  }

  .answer_div ~ div {
    margin: 0 !important;
    margin-top: 32px !important;
    @extend .alert;
  }

  > div:last-of-type {
    text-align: unset !important;
    display: flex;
    margin-top: 16px;
    padding: 16px;
    padding-bottom: 8px;
  }

  padding: 32px;

  #btn_prev {
    @extend .matter-button-text;

    margin-right: auto;
  }
  #btn_next {
    @extend .matter-button-unelevated;

    margin-left: auto;
  }
}

#plaintext_div {
  padding: 32px;
}

#pretty_choices {
  > div {
    margin: 16px 0;

    h3 {
      font-size: 1rem;
      font-weight: bold;
    }

    ul {
      list-style-type: disc;
      list-style-position: inside;
      padding: 8px;
    }

    li {
      margin: 8px 0;
    }
  }
}

#ballot_div p {
  margin: 8px 0;
}
#ballot_div br {
  display: none;
}

#encrypting_div p {
  margin-bottom: 16px;
}

#div_submit input {
  @extend .matter-button-unelevated;

  font-size: 1.2rem !important;
  height: 3rem;
  margin-top: 16px;
}

button[onclick="location.reload();"] {
  @extend .matter-button-text;

  margin-top: 32px;
}


// Hide the default input code button
#input_code {
  display: none;
}

// New credential submit button injected with javascript
.credential-submit {
  box-sizing: border-box;
  height: 42px;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 0 16px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #1976d2;
  color: #fff;
  cursor: pointer;
  position: relative;

  min-width: 100px;
  margin-right: 4px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: opacity 150ms, background-color 150ms;
  }

  &:focus::before {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &:hover::before {
    opacity: 1;
  }
}

#bottom {
  text-align: center;

  > div:last-of-type {
    margin-top: 8px;
  }

  #election_uuid {
    font-style: italic;
  }
  #election_fingerprint {
    font-style: italic;
  }
}

.answer_div {
  input:not([type='checkbox']) {
    @extend .textfield, .textfield--outlined;

    height: 42px;
    min-width: 100px;
    width: 100px;
  }
}

#wait_div {
  display: none !important;
}

#intro {
  padding: 32px;

  .current_step {
    margin-bottom: 32px;
  }

  .credential_div {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

// remove padding from header
#header > div:nth-child(3) {
  padding: 32px !important;

  #election_name {
    padding: 0 !important;
  }
  #election_description {
    margin-top: 16px;
  }
}

#intro .matter-textfield-outlined {
  margin-top: 16px;
}