@use 'common';
@use 'progress';
@use 'alert';
@use 'matter';

.lang_box {
  input[type="submit"] {
    @extend .matter-button-unelevated;

    line-height: 38px;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 8px;
    line-height: 36px;

    select {
      margin: 0 8px;
    }
  }
}

/* START button */
button[onclick^="location.href"] {
  @extend .matter-button-unelevated;
  
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 2rem !important;

  margin-top: 32px;
  margin-bottom: 16px;
}

#accepted-ballots-button {
  @extend .matter-button-text;

  height: 3rem;
  line-height: 3rem;
  font-size: 1.5rem !important;
  text-transform: capitalize;
}

.current_step {
  margin-top: 72px !important;
  margin-bottom: 32px !important;
}

.alert {
  margin-top: 16px !important;
  margin-left: 32px !important;
  margin-right: 32px !important;
}

> div > * {
  padding: 0 32px;
}

.current_step {
  margin-bottom: 16px;
}

p {
  line-height: 24px;
  margin-top: 16px;
}

p:last-of-type {
  margin-top: 32px;
  text-align: center;
}

/* "Advanced mode" link */
a[href*="/election/cast"] {
  font-size: 1rem;
  color: inherit;
}

/* #main > div:last-of-type > :last-child:not(.hybrid_box) {
  margin-bottom: 32px;
} */

ul#trustees {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 16px;
  margin-top: 8px;
}


/* specific CSS for the confirm page */
.booth-confirm #main {
  padding: 32px;

  > div > div {
    margin: 16px 0;

    &:last-of-type {
      text-align: center;
      margin-top: 32px;
      margin-bottom: 0;
    }
  }

  input[type="submit"] {
    @extend .matter-button-unelevated;

    font-size: 1rem !important;
    text-transform: none;
  }

  em {
    font-style: italic;
  }

  p:not(:last-of-type) {
    margin: 16px 0;
  }

  br {
    display: none;
  }

  p:last-of-type {
    text-align: center;
    //margin-bottom: 32px;
  }
}

.hybrid_box {
  background-color: #f5f5f5;
  margin: 0;
  margin-top: 16px;
  border: none;
  font-size: .9rem;
  padding: 32px;

  div ~ div {
    margin-top: 8px;
  }
}

.booth-home #main > div:last-of-type > :not(.hybrid_box) {
  margin-left: 32px;
  margin-right: 32px;
}

.booth-home {
  .current_step ~ p:last-of-type {
    margin-bottom: 32px;
  }
}

#main {
  margin-bottom: 16px !important;
}

.booth-ballots {
  #main {
    padding: 32px;
  }

  #main > div:nth-child(2) > div {
    margin: 16px 0;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 16px;
  }

  #main > div:nth-child(2) > p:nth-child(3) > a:nth-child(1) {
    @extend .matter-button-text;
  }

  #header h1 {
    opacity: 0;
    padding-bottom: 0 !important;
  }
  #header #subtitle {
    opacity: 0;
    margin-top: 16px;
    font-size: 1.2rem;
    padding: 0 32px;
  }
}

#tallied_results {
  margin-top: 16px;

  > ul {
    list-style-type: disc;
    list-style-position: inside;

    .result_question {
      display: inline-block;
    }
    table {
      margin: 8px;
      
      td {
        padding: 6px;
      }
    }
  }

  > div {
    margin-top: 8px;
  }
}